<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title %}Membres Kazanac{% endblock %}</title>
        {% block stylesheets %}
            
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="{{ asset('bundles/kazanacmembre/bootstrap/css/bootstrap.min.css') }}" type="text/css" />

            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/kazanacmembre/css/CardMembers.css') }}" type="text/css" />
            <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
            {% include 'KazanacMembreBundle:fragment:import_css.html.twig'%}
        {% endblock %}
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">





<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        {% include 'KazanacMembreBundle:fragment:head.html.twig'%}
        {% include 'KazanacMembreBundle:fragment:aside.html.twig'%}

    {% block body %}
    <section class="content-wrapper">
         <div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Les membres</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('trombinoscope') }}" onclick="auth();">Trombinoscope</a></li>
                    <li><a href="index2.html"> Rechercher un membre</a></li>
                    <li><a href="index2.html"> Créer un membres</a></li>
                    <li><a href="index2.html"> Ajouter un membre</a></li>
                    <li><a href="index2.html"> Modifier un membres</a></li>
                    <li><a href="index2.html"> Supprimer un membre</a></li>
                </ul>                
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
                <div id="carnet" class="row">

                    <!--{{ members |length }}-->
                    {% for member in members  %}

                        <div class="card col-md-3">
                            <div class="front ">                               
                                <div class="cover">
                                    <img class="img-responsive"  src="{{ asset('bundles/kazanacmembre/img/cover.jpg') }}">                                                  
                                </div>
                                <div class="user">
                                    {% if member.pathImg is null %}
                                    <img class="img-responsive img-circle" src="{{ asset('bundles/kazanacmembre/img/inconnu.jpg') }}">
                                    {% else %}
                                        <img class="img-responsive img-circle" src="{{ member.pathImg }}">

                                    {% endif %}
                                </div>           
                                <div class="coordonnee">
                                        <hr class="hrCoordonnee">
                                        <p class="nameMember"> {{ member.firstname }} {{  member.lastname }}</p>
                                        <hr  class="hrCoordonnee">
                                    {% for phone in member.phone %}
                                      <p> <i class="fa fa-phone" aria-hidden="true"></i>{{ phone.tel }}</p>
                                    {% endfor %}
                                        <p> <i class="fa fa-envelope" aria-hidden="true"></i>{{ member.email}}</p>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>               
            </section>
   
        {% endblock %}

        {% include 'KazanacMembreBundle:fragment:footer.html.twig'%}
        {% include 'KazanacMembreBundle:fragment:csidebar.html.twig'%}

        {% block javascripts %}{% include 'KazanacMembreBundle:fragment:js.html.twig'%}{% endblock %}
    </body>
</html>
